.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00A4CC;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.top-bar .logo {
  height: 150px;         /* 控制 logo 图片高度 */
  max-height: 300%;
}
